export LANG=en_US.UTF-8

# Setting the Python virtual environment
export VIRTUAL_ENV=./.venv
PATH_add "$VIRTUAL_ENV/bin"

# Add local bin to PATH for easy access to scripts and executables
export PATH="$HOME/.local/bin:$PATH"

# Configure Python warnings to be displayed
export PYTHONWARNINGS="default"

# Set up environment variables for coverage reports
export COVERAGE_FILE=.coverage

# Configure cache directory for pip
export PIP_CACHE_DIR=$HOME/.cache/pip

# Poetry specific environment variables
export POETRY_VIRTUALENVS_IN_PROJECT=true
export POETRY_CACHE_DIR=$HOME/.cache/pypoetry
